<div class="row">
  <div class="column">
    <div class="card">
      <div class="location">
        <p id="location">Denver</p>
      </div>
      <br />
      <p id=current-time>Time</p>
      <div class="row">
        <div class="column-2">
          <img src="" alt="" id="current-icon" />
          <div class="degrees">
            <h3 id="current-temp">80</h3>
            <h6>&#176;</h6>
          </div>
          <div class="degrees">
            <h5 id="todays-high-temp">High: 84</h5>
              <span>&#176;</span>
          </div>
          <div class="degrees">
            <h5 id="todays-low-temp">Low: 58</h5>
            <span>&#176;</span>
          </div>
        </div>
        <!-- <div class="column-3"> -->
        <!-- </div> -->
        <div class="column-2">
          <br />
          <br />
          <p>Change Location</p>
          <p>Favorite</p>
        </div>
      </div>
   </div>
  </div>
  <div class="column">
    <div class="card">Details
      <div class="row">
        <div class="column-2">
          <img scr="" alt="" id="details-icon" />
          <p id="today-desc">Today</p>
          <br />
          <p id="tonight-desc">Tonight</p>
        </div>
        <div class="column-2">
          <br />
          <div class="degrees">
            <p id="feels-like">Feels Like</p>
            <span>&#176;</span>
          </div>
          <br />
          <p id="humidity">Humidity</p>
          <br />
          <p id="visibility">Visibility</p>
          <br />
          <p id="Uv">UV Index</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="forecast-card">
  <p>Forecast</p>

  <div class="row">
    <div class="column-8">
      <p id="time-1">Time</p>
      <img scr="" alt="" id="hour1-icon" />
      <div class="degrees">
        <h5 id="temp-1">76</h5>
        <span>&#176;</span>
      </div>
    </div>
    <div class="column-8">
      <p id="time-2">Time</p>
      <img scr="" alt="" id="hour2-icon" />
      <div class="degrees">
        <h5 id="temp-2">76</h5>
        <span>&#176;</span>
      </div>
    </div>
    <div class="column-8">
      <p id="time-3">Time</p>
      <img scr="" alt="" id="hour3-icon" />
      <div class="degrees">
        <h5 id="temp-3">74</h5>
        <span>&#176;</span>
      </div>
    </div>
    <div class="column-8">
      <p id="time-4">Time</p>
      <img scr="" alt="" id="hour4-icon" />
      <div class="degrees">
        <h5 id="temp-4">73</h5>
        <span>&#176;</span>
      </div>
    </div>
    <div class="column-8">
      <p id="time-5">Time</p>
      <img scr="" alt="" id="hour5-icon" />
      <div class="degrees">
        <h5 id="temp-5">73</h5>
        <span>&#176;</span>
      </div>
    </div>
    <div class="column-8">
      <p id="time-6">Time</p>
      <img scr="" alt="" id="hour6-icon" />
      <div class="degrees">
        <h5 id="temp-6">72</h5>
        <span>&#176;</span>
      </div>
    </div>
    <div class="column-8">
      <p id="time-7">Time</p>
      <img scr="" alt="" id="hour7-icon" />
      <div class="degrees">
        <h5 id="temp-7">71</h5>
        <span>&#176;</span>
      </div>
    </div>
    <div class="column-8">
      <p id="time-8">Time</p>
      <img scr="" alt="" id="hour8-icon" />
      <div class="degrees">
        <h5 id="temp-8">71</h5>
        <span>&#176;</span>
      </div>
    </div>
  </div>


  <table class="table table-borderless">
    <!-- <thead>
    <tr>
    <th scope="col">Day</th>
    <th scope="col">Icon</th>
    <th scope="col">Precip</th>
    <th scope="col">High</th>
    <th scope="col">Low</th>
  </tr>
</thead> -->
<tbody>
  <tr>
    <th scope="row" id="day-1">Monday</th>
    <td><img scr="" alt="" id="day1-icon" /></td>
    <div class="degrees">
      <td id="high-1">High:</td>
      <td id="low-1">Low:</td>
    </div>
  </tr>
  <tr>
    <th scope="row" id="day-2">Monday</th>
    <td><img scr="" alt="" id="day2-icon" /></td>
    <div class="degrees">
      <td id="high-2">High:</td>
      <td id="low-2">Low:</td>
    </div>
  </tr>
  <tr>
    <th scope="row" id="day-3">Monday</th>
    <td><img scr="" alt="" id="day3-icon" /></td>
    <div class="degrees">
      <td id="high-3">High:</td>
      <td id="low-3">Low:</td>
    </div>
  </tr>
  <tr>
    <th scope="row" id="day-4">Monday</th>
    <td><img scr="" alt="" id="day4-icon" /></td>
    <div class="degrees">
      <td id="high-4">High:</td>
      <td id="low-4">Low:</td>
    </div>
  </tr>
  <tr>
    <th scope="row" id="day-5">Monday</th>
    <td><img scr="" alt="" id="day5-icon" /></td>
    <div class="degrees">
      <td id="high-5">High:</td>
      <td id="low-5">Low:</td>
    </div>
  </tr>
</tbody>
</table>
</div>
